<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= t 'spree.powered_by' %> <%= link_to 'doodle.kz', 'https://doodle.kz/' %></p>
    <p><i class="fa fa-instagram"></i> <%= link_to 'Instagram', 'https://www.instagram.com/holzbrett_loft/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
    <p><i class="fa fa-phone"></i> <%= link_to '+7 707 159 7535', 'tel:+77071597535' %></p>
    <p><i class="fa fa-map-marker"></i> <%= link_to 'Qazaqstan | Almaty | Azat 29', 'https://goo.gl/maps/jvcuyhCsybtq5D5W7' %></p>
  </div>
</footer>
